
body, html { 
    margin: 0;
    padding: 0;
    height: 100%;
}
.bgimg {
    border: 0;
    padding: 0; 
    background-image: url('img.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

ul li{
    list-style-type:none; 
}
#wrap{
    width: 100%; height: 100%;
}
#header{
    width: 100%; height: 480px; border-bottom:2px solid #735340;
}
#header_top{
    width: 100%; height: 40px; background-color:#85897B; opacity:0.9;
}
#header_slideimg{
    width: 100%; height: 375px; overflow:hidden;
}
#header_bottom{
    width:100%;  background-color:#735340;
}
#header_bottom ul
{
    color: white; margin:0 auto; display :flex; justify-content: space-between;
    width:1000px; align-items:center; height: 60px;
}
#content{
    width: 1080px; height: 2000px; margin: 0 auto;
}
#content_1{
    width: 100%; height: 750px; margin: 0 auto; padding-top:50px;
}
#content_1_menu{
    width: 250px; height: 40px; border-bottom: 3px solid #735340; margin: 0 auto;
}
#content_1_menu p{
    text-align: center; font-weight: bold;
}
#content_1_imgarea{
    width:900px; height: 500px; display:grid; margin-top:50px; grid-template-columns: 410px 400px 400px; grid-template-rows : 300px 300px 300px;
}
#content_img_1{
    width: 250px; height: 200px;
}
#content_img_2{
width: 250px; height: 200px;
}
#content_img_3{
    width: 250px; height: 200px;
}
#content_img_4{
    width: 250px; height: 200px;
}
#content_img_5{
    width: 250px; height: 200px;
}
#content_img_6{
    width: 250px; height: 200px;
}
#content_2{
    width: 100%; height: 650px; margin : 0 auto;
}
#content_2_menu{
    width: 250px; height: 40px; border-bottom: 3px solid #735340; margin: 0 auto;
}
#content_2_menu p{
    text-align: center; font-weight: bold;
}
#content_2_imgarea{
    width:100%; height: 350px; display:grid; margin-top:50px; grid-template-columns: 410px 400px 400px; grid-template-rows : 300px 300px 300px;
}
#content_2_img{
    width: 250px; height: 300px;
}
#content_2_img2{
    width: 250px; height: 300px;
}
#content_2_img3{
    width: 250px; height: 300px;
}
#content_3{
    width: 100%; height: 500px; margin : 0 auto;
}
#content_3_area{
    width: 100%; height: 550px;
}
#content_3_tabmenu{
    width: 100%; height: 30px; float :left; margin-bottom:50px;
}
#content_3_tab1{
    width: 200px; height: 30px; float :left; background-color: #735340; color: white;
}
#content_3_tab2{
    width: 200px; height: 30px; float :left; background-color: #85897B; color: white;
}
#content_3_imgarea{
    width: 100%; height: 500px; margin-top:50px; display: grid; grid-template-columns: 400px 400px 400px; grid-template-rows: 300px 300px 300px;
}
#content_3_list{
    width: 270px; height: 400px;
}
#content_3_img{
    width :100%; height: 300px; 
}
#content_3_text{
    width :100%; height: 100px; 
}
#content_3_list2{
    width: 270px; height: 400px;
}
#content_3_list3{
    width: 270px; height: 400px;
}
#footer{
    width:100%; height: 340px;
}
#footer_iconlist{
    width: 400px; height: 100px; margin: 0 auto; display :flex; justify-content: space-between; align-items:center;
}
#footer_content{
    width: 100%; height:290px; border-top: 1px solid#735340;
}
#footer_content img{
    width:40px;
}
#footer_list{
    width:100%; height: 50px;
}
#footer_content ul{
    width: 1000px; margin-top:30px; display:flex; font-size:14px; color:#735340; font-weight: bold;  justify-content: space-between; align-items:center;
}

@media(max-width: 680px){
    #header{
        width:100%; height: 275px;
    }
    
    #header_slideimg{
        width:100%; height: 210px;
    }
    #header_bottom{
        display:none;
    }
    #content{
        width:100%; height: 1000px;
    }
    #content_1{
        width:100%; height: 680px;
    }
    #content_1_menu{
        width: 150px; height: 25px; border-bottom:3px solid #735340;
    }
    #content_1_imgarea {
        width: 100%; height: 400px; margin:0 auto;
    }
    #content_img_1{
        width: 100px; height: 100px; border: 1px solid red; float: left; margin-right:20px; margin-left:50px;
    }
    #content_img_2{
        width: 100px; height: 100px; border: 1px solid red; float :left; margin-right:0;
    }
    #content_img_3{
        width: 100px; height: 100px; border: 1px solid red; float :left; margin-left: 50px; margin-top:20px;
    }
    #content_img_4{
        width: 100px; height: 100px; border: 1px solid red; float: left; margin-right:20px; margin-left:20px; margin-top:20px;
    }
    #content_img_5{
        width: 100px; height: 100px; border: 1px solid red; float :left; margin-left:50px; margin-right:20px; margin-top:20px;
    }
    #content_img_6{
        width: 100px; height: 100px; border: 1px solid red; float :left; margin-top:20px;
    }
    #content_2{
        width:100%; height: 300px; margin : 0 auto;
    }
    #content_2_imgarea {
        width: 100%; height: 265px; margin:0 auto;
    }
    #content_2_menu{
        width: 150px; height: 25px; border-bottom:3px solid #735340;
    }
    #content_2_img{
        width: 120px; height: 200px; border: 1px solid red; float: left; margin-left:30px; margin-right:10px;
    }
    #content_2_img2{
        width: 120px; height: 200px; border: 1px solid red; float: left; margin-left:0px;
    }
    #content_2_img3{
        display:none;
    }
}